body{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    /* background: url("bg.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    font-family: 'Bangers', cursive;
}
/* ---------------------------------- */
.left{
    /* border: 3px solid rgb(255, 89, 28); */
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
    clear: both;
}
.mid{
    /* border: 3px solid rgb(255, 89, 28); */
    display: block;
    width: 50%;
    margin: 10px auto;
    /* position: sticky; */
    box-sizing: border-box;
    text-align: center;
    clear: both;
}
.right{
    /* border: 3px solid rgb(255, 89, 28); */
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    clear: both;
}
/* ---------------------------------- */
.left img {
    /* border: 3px solid rgb(255, 89, 28); */
    width: 80px;
    display: block;
    position: relative;
    left: 0px;
}
.left a {
    /* border: 3px solid rgb(255, 89, 28); */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    width: 130px;
    position: absolute;
    left: 90px;
    top: 10px;
}
.left a:hover{
    color: rgb(255, 89, 28);
    text-decoration: underline;    
}
/* ---------------------------------- */
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 20px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: rgb(255, 89, 28);
    /* color: grey; */
}
/* ---------------------------------- */
.right button{
    margin: 9px;
    padding: 4px 8px; 
    background-color: black;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.right button a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Bangers', cursive;
}
.right button a:hover{
    color: rgb(0, 0, 0);
}
.right button:hover{
    border: 3px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 89, 28);
    cursor: pointer;
}
/* ---------------------------------- */
.slogan{
    /* border: 3px solid rgb(0, 0, 0); */
    text-align: center;
    /* width: 680px; */
    font-size: 100px;
    margin: 65px;
    /* float: right; */
}
.slogan a{
    color: rgb(255, 255, 255);
    font-size: 135px;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Bangers', cursive;
    text-decoration: none;
}
.slogan a:hover{
    color: rgb(255, 68, 0);
}
/* ---------------------------------- */
.article{
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(255, 89, 28);
    border-radius: 10px;
    display: block;
    width: 600px;
    margin: auto;
    z-index: 100;

}
.article .art{
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 526px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.article .art h2{
    color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 89, 28);
    background-color:  rgb(10, 3, 0);
    border-radius: 5px;
    text-align: center;
    width: 200px;
    font-size: 25px;
}
.article .art p{
    font-size: 18px; 
}
/* ---------------------------------- */
.social{
    /* border: 3px solid rgb(255, 255, 255); */
    display: inline-block;
    position: absolute;
    margin: -915px 0px;
    z-index: 1;
}
.social li{
    /* border: 3px solid red; */
    margin: 10px -20px;
    padding: 10px;
    display: block;
}
.element img{
    /* border: 3px solid rgb(202, 0, 0); */
    width: 30px;
    margin: -8px 0px;
    padding-bottom: 1px;
    filter: invert(100%);
}
.element a{
    border: 3px solid rgb(255, 89, 28);
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.element a:hover{
    color: rgb(255, 89, 28);
    text-decoration: underline;
}
/* ---------------------------------- */
/* ---------------------------------- */

.sideimg{
    /* border: 5px solid white; */
    width: 320px;
    height: 848px;
    text-align: center;
    position: relative;
    float: right;
    margin-top: -920px;
    margin-right: 5px;
    padding: 0px;
    z-index: 10;
}

.sideimg img{
    border: 5px solid rgb(255, 89, 28);
    border-radius: 5px;
    /* width: 100px; */
    width: 300px;
    position: relative;
    z-index: 10;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* .last{
    position: relative;
} */
footer{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 89, 28);
    margin-top: 200px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
}
footer .upper{
    /* border: 5px solid rgb(22, 76, 255); */
    padding-bottom: 30px;
}
footer .upper .mainhead{
    border: 5px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 300px;
    margin: 40px auto;
    padding-top: 18px;
    height: 50px;
    text-align: center;
}
footer .upper .data{
    /* border: 5px solid rgb(238, 0, 0); */
    display: block;
    width: 1250px;
    margin: auto;
}   
footer .upper .data .city{
    /* border: 5px solid rgb(255, 255, 255); */
    display: inline-block;
    margin: 0px 50px;
    width: 200px;
    text-align: center;
}
footer .upper .data .city h1{
    color: black;
    text-decoration: underline;
}
footer .upper .data .city ul{
    /* border: 3px solid red; */
    padding-right: 42px;
}
footer .upper .data .city ul li{
    font-size: 20px;
}
/* ------------------------- */
footer .lower{
    /* border: 5px solid rgb(4, 247, 85); */
    background-color: white;
    color: black;
    text-align: center;
    height: 100px;
    padding-top: 45px;
}

/* ---------------------------------- */
